{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block content %}
		{% endblock %}

		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
